/* Breakpoints */

@media only screen and (max-width: 960px) and (min-width: 0px) {
  /* Max width of container */

  .section .listPhotos { margin: 20px 0 20px 4%; }
  .section .desc { float: none; width: auto; }

  #subContent #companies { margin: 0; }
  #subContent #companies li { float: none; margin: 0 0 1.5em; }

}

@media only screen and (max-width: 740px) and (min-width: 0px) {
  /* Begin adjusting logo in header */

  #logo { width: 50%; }

  #navTags li { font-size: 1.4em; }

  #subContent #contact { width: 47%; }
  #subContent #follow { width: 23%; }
  #subContent #companies { width: auto; float: left; }

}

@media only screen and (max-width: 605px) and (min-width: 0px) {
  /* Max width of slideshow */

  #logo,
  #formSearch { float: none; width: auto; text-align: center; }
  #logo { margin-bottom: 20px; }
  #logo a,
  #formSearch fieldset { display: inline-block; }
  #formSearch .field { font-size: 1.6em; }
  #nav li { font-size: 1.2em; }

  .section .listPhotos { float: none; width: auto; margin: 0 0 20px 0; }
  .section .desc { float: none; width: auto; }

  .listProjects li { width: 48%; margin-left: 4%; }
  .listProjects li:first-child { margin-left: 0; }
  .listProjects li:nth-of-type(3),
  .listProjects li.optional { display: none; }

}

@media only screen and (max-width: 520px) and (min-width: 0px) {

  #subContent #contact { width: 70%; margin-bottom: 2em; }
  #subContent #follow { width: auto; float: right; margin-bottom: 2em; }
  #subContent #companies { width: auto; float: none; clear: both; }

  #pageFooter { margin-bottom: 10px; }
  #pageFooter #lnkTerms { margin-right: 15px; }
  #pageFooter #credits { float: left; }

}

@media only screen and (max-width: 330px) and (min-width: 0px) {
  /* Max width of a single featured project */

  #pageHeader { text-align: center; }

  .listProjects { margin-top: -20px; }
  .listProjects li { width: auto; margin: 20px 0 0 0; }
  .listProjects li:nth-of-type(3),
  .listProjects li.optional { display: block; }

  #navTags li { display: none; }
  #navTags li.mandatory { display: inline-block; }

  #subContent #contact,
  #subContent #follow,
  #subContent #companies { width: auto; float: none; }
  #subContent #companies li { float: none; margin: 1em 0; }

  #pageFooter p { float: none !important; margin: 0 0 0.5em !important; text-align: center; }

}
