/* HACKER-SPECIFIC STYLES */

body {
	background: #999;
}

#logo {}

a,
#navCategories li a:hover,
#navCategories li.on a,
#navTags li a:hover {
	color: #999;
}

#nav li a:hover,
#nav .is-current a {
	border-bottom: 4px solid #999;
}

.listProjects li a:hover {
	color: #666;
	border-bottom: 1px solid #999;
}

#navToolbar {
	background: #ccc;
}

#navToolbar li a {
	background: #f1f1f1;
}

#navToolbar li a:hover {
	background: #fff;
}

#pageFooter {
	color: #666;
}

#pageFooter a {
	color: #777;
}
