/* 
	BASE & RESET STYLES
	NOTE: An asterisk before a style (e.g. *margin) denotes IE 6 & 7 only style, and an underscore (e.g. _margin) denotes IE 6 only
*/

/* @group RESET */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {border: 0; margin: 0; padding: 0; font-size: 100% ; vertical-align: baseline;}

table, th, td {border-collapse:collapse; border-spacing:0;}

blockquote,q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}

select,input,textarea,button {margin: 0; padding: 0; font-size: 100%;}

/* @end RESET */

/* @group CLEARFIX */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* @end CLEARFIX */

/* @group BASE */

body {
	background: #fff;
	font-size: 62.5% ; /* Sets 1em = 10px */
	line-height: 1.5;
}

body, input, select, textarea, button {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

/* Misc */

p, li, dt, dd, th, td {font-size: 1.2em;}

p {margin: 1em 0;}

img, iframe {display: block;}

acronym, abbr {
	border-bottom: 1px dotted #000;
	cursor: help;
}

blockquote .meta {font-style: italic;}

.error {color: #CC0001 !important;}

.success {color: #51b222 !important;}

/* Headings */

h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0;
}

/* Lists */

ol, ul {margin: 2em;}

li {margin: 0.5em;}

ol li {list-style: decimal outside;}

ul li {list-style: disc outside;}

dd {margin-left: 1em;}

dl, blockquote {margin: 2em 1em;}

dt {
	font-weight: bold;
	margin-top: 1em;
}

dd {margin-bottom: 1em;}

/* Tables */

table {margin: 1em 0 1em 1px;}

th, td {
	border: 1px solid #000;
	padding: 1em;
	border-collapse: collapse;
}

th {
	font-weight: bold;
	text-align: center;
}

/* Forms */

form {
	display: block;
}

fieldset {
	margin-bottom: 1em;
}

form legend, /* Legends CANNOT be trusted */
form .field br {
	display: none; 
}

form .msg {
	margin-top: 0;
}

form ul.errors {
	margin-top: 0;
}

form .field abbr {
	color: #CC0001;
}

label.error,
label.msg {
	font-style: italic;
}

form .field abbr {
	border: 0;
}

form .field {
	margin-top: 0;
	clear: both;
}

form .field:after { /* Clearfix */
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

label {
	display: block;
	vertical-align: top;
}
	
input,
select,
textarea {
	background: #fff;
	display: block;
    border: 1px solid #666;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
	padding: 5px;
}

input {
	padding: 5px;
}

select {
	padding: 2px;
}

textarea {
	padding: 3px 5px;
}

form .action {
	margin-top: 0;
}

button {
	background: #ccc;
	display: block;
    border: 1px solid #666;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 3px; *padding: 5px 0;
    cursor: pointer;
}

button:active {
	border: 1px solid #ddd;
	border-top: 1px solid #666;
    border-left: 1px solid #666;
}

button::-moz-focus-inner {border: 0;}

/* @end BASE */