/* Responsive styles */

body {
  word-wrap: break-word;
}

img {
  max-width: 100%;
}

#pageContainer {
  max-width: 960px;
  width: 100%;
}

#nav { padding-top: 0; }

#nav li a { padding-top: 16px; }

.section .desc { width: 30.5%; }

.section .listPhotos { width: 65.8%; }

.listProjects { margin: 0 0 10px 0; }

.listProjects li { width: 32%; margin: 0 0 0 2%; }

.listProjects li:first-child { margin-left: 0; }

.listProjects li .image { height: auto; }

#navTags li { display: inline-block; background: #f2f2f2; padding: 0.2em 0.6em; margin: 0.4em 0.8em 0.4em 0; }

#subContent #contact { width: 41%; }

/* Tiny nav */
.tinynav_label { display: none; }
.tinynav { font-size: 2em; display: inline-block; }
