/* SCREEN STYLES */

/* @group GLOBAL */

body, input, select, textarea, button {font-family: Helvetica, Arial, sans-serif;}

body {
	background: #fff;
	color: #999;
}

p {
	font-size: 1.4em;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

/* FancyBox */

.fancyboxCaption {
	position: relative;
}

.fancyboxTitle {
	float: left;
}

.fancyboxImgCount {
	float: right;
}

.fancyboxHelp {
	position: absolute;
	top: -21px;
	right: -25px;
	cursor: help;
	width: 30px;
	height: 30px;
	background: url(/img/icon-fancybox-help.png);
	text-indent: -9999em;
	z-index: 9999;
}

/* @end GLOBAL */

/* @group STRUCTURE */

/* @group #navToolbar */

#navToolbar {
	overflow: hidden;
	margin: 0;
	padding: 6px;
}

#navToolbar li {
	float: left;
	list-style: none;
	margin: 0 5px 0 0;
}

#navToolbar .lnkLogOut {
	float: right;
	margin: 0;
}

#navToolbar li a {
	text-decoration: none;
	display: block;
	padding: 1px 8px;
	-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	text-transform: lowercase;
}

/* @end #navToolbar */

#pageContainer {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

/* @group #pageHeader */

#pageHeader {
	overflow: hidden;
	background: #fff;
	margin-bottom: 10px;
	padding: 20px;
}

#logo {
	margin: 0 0 40px 0;
	float: left;
}

#logo a {
	display: block;
}

#strap {
	/* position: absolute; left: -9999em; /* Accessible hide */
}

#nav {
	margin: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	border-left: 0; border-right: 0;
	padding: 16px 0 0;
	clear: both
}

#nav li {
	list-style: none;
	float: left;
	margin: 0 35px 0 0;
	text-transform: uppercase;
	font-size: 1.4em; line-height: 1;
	letter-spacing: 0.2em;
}

#nav li a {
	display: block;
	color: #666;
	padding-bottom: 10px;
	text-decoration: none;
	border-bottom: 4px solid #fff;
}

#nav li a:hover,
#nav .is-current a {
	color: #333;
}

#formSearch {
	float: right;
	clear: right;
	margin-bottom: 20px;
	position: relative;
}

#formSearch .loading {
	background: url(/img/icon-loading.gif);
	width: 32px;
	height: 32px;
	position: absolute;
	text-indent: -9999em;
	margin: 0;
	top: 0;
	left: -36px;
}

#formSearch fieldset {
	margin: 0;
}

#formSearch .field,
#formSearch .action {
	float: left;
	margin: 0;
}

#formSearch .field {
	margin-right: 2px;
}

#formSearch .field #lblSearch {
	position: absolute;
	left: -999em;
}

#formSearch .field input {
	background-color: #f2f2f2;
	border: 0;
	min-height: 28px;
	padding: 2px 8px 0;
}

#formSearch .field input.pending {
	color: #999;
}

#formSearch .action button {
	text-indent: -9999em;
	height: 30px;
	width: 30px;
	padding: 0;
	border: 0;
	background: #f2f2f2 url(/img/icon-arrow-search.png) no-repeat center center;
}

#formSearch .action button:active {
	background-color: #ddd;
}

#pageHeader .contact {
	float: right;
	margin: 0 0 10px 0;
}

/* @end #pageHeader */

/* @group #pageBody */

#pageBody {}

/* @group #content */

.section {
	background: #fff;
	margin-bottom: 10px;
	padding: 20px;
	overflow: hidden;
	clear: both;
}

.section h2 {
	font-weight: normal;
	font-size: 2.2em;
	margin: 0 0 1em;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	color: #666;
}

.section .desc {
	float: left;
	width: 280px;
}

/* @group .navCategories */

#navCategories {
	margin: 0 0 171px;
}

#navCategories li {
	margin: 0 0 5px;
	list-style: none;
	font-size: 1.8em;
}

#navCategories li a {
	color: #999;
	text-decoration: none;
}

/* @end .navCategories */

/* @group .navTags */

.section h3 {
	font-weight: normal;
	font-size: 1.6em;
	margin: 0 0 0.5em;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	color: #666;
}

#navTags {
	margin: -5px 0 0 0;
	overflow: hidden;
}

#navTags li {
	margin: 5px 5px 0 1px;
	list-style: none;
	font-size: 1.2em;
	float: left;
	font-style: italic;
}

#navTags li a {
	color: #aaa;
	text-decoration: none;
}

/* @end .navTags */

/* @group .projects */

.section .projects {
	float: right;
	width: 606px;
	overflow: hidden;
}

.section .projects.noCategories {
	float: none;
	width: auto;
}

.listProjects {
	margin: -35px 0 10px -20px;
	overflow: hidden;
}

.listProjects li {
	float: left;
	width: 293px;
	margin: 35px 0 0 20px;
	list-style: none;
	font-size: 1.6em;
}

.listProjects li a {
	display: block;
	color: #999;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

.listProjects li a:hover {
	color: #666;
}

.listProjects li .image {
	height: 290px;
	overflow: hidden;
	margin-bottom: 7px;
}

.listProjects li .image img {}

.listProjects li .meta {
	padding-left: 1px;
	background: no-repeat 98% 4px;
	background-image: url(/img/icon-arrow-project.gif);
}

.listProjects li a:hover .meta {
	background-position: 99% -36px;
}

/* @end .projects */

/* @group .listPhotos */

.section .listPhotos {
	float: right;
	width: 606px;
	overflow: hidden;
	margin: 0;
}

.section .listPhotos.searchResults {
	margin: 0;
}

.section .listPhotos.slideshow.active {
	margin-top: 0;
	height: 400px;
	background: url(/img/icon-loading.gif) center center no-repeat;
}

.section .listPhotos ul {
	margin-top: -20px;
}

.section .listPhotos li {
	margin: 20px 0 0 0;
	list-style: none;
}

.section .listPhotos.searchResults li {
	float: left;
	margin: 0;
}

.section .listPhotos.slideshow.active li {
	margin-top: 0;
}

.section .listPhotos.slideshow.active li img {
	width: 100%;
}

.section .listPhotos .photo img {
	width: 100%;
}

/* @end .listPhotos */

.section .noItems {
	float: right;
	width: 606px;
}
/* @end #content */

/* @group #subContent */

#subContent {}

#subContent h4,
#sb-player h4 {
	margin: 0 0 0.3em;
	color: #666;
	font-weight: normal;
	font-size: 2em;
}

#subContent #contact {
	float: left;
	width: 310px;
}

#sb-player .vcard h4 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 14px;
	margin-bottom: 1em;
}

#subContent .vcard p,
#sb-player .vard p {
	margin: 0;
}

#sb-player .vcard {
	background: #fff url(/img/logo-);
	padding: 20px 20px 0 20px;
	overflow: hidden;
}

.vcard .lnkDownloadContact {
	float: left;
	margin: 0;
	display: none;
}

#sb-player .vcard .lnkDownloadContact {
	display: block;
}

.vcard .lnkDownloadContact a {
	background: url(/img/icon-vcard.png) no-repeat;
	padding: 3px 0 0 30px;
	min-height: 24px;
	display: block;
}

#subContent #follow {
	float: left;
}

#subContent #follow  ul {
	margin: 0;
}

#subContent #follow ul li {
	list-style: none;
	margin: 0 0 0.8em;
}

#subContent #follow ul li a {
	display: block;
	color: #999;
	background: no-repeat 0 0;
	padding-left: 25px;
	min-height: 16px;
}

#subContent #follow ul .lnkFlickr a {background-image: url(/img/icon-flickr.gif);}
#subContent #follow ul .lnkFacebook a {background-image: url(/img/icon-facebook.gif);}
#subContent #follow ul .lnkTwitter a {background-image: url(/img/icon-twitter.gif);}

#subContent #companies {
	float: right;
	margin: 90px 10px 0 0;
}

#subContent #companies li {
	list-style: none;
	float: left;
	margin: 0 0 0 24px;
}

#subContent #companies li a {
	display: block; height: 27px; text-indent: -9999em; /* Fill & hide*/
	width: 137px;
}

#subContent #companies .lnkIris a {background: url(/img/logos-mini.gif) -137px 0;}
#subContent #companies .lnkHacker a {background: url(/img/logos-mini.gif) 0 0;}
#subContent #companies .lnkIris a:hover {background-position: -137px -27px;}
#subContent #companies .lnkHacker a:hover {background-position: 0 -27px;}

/* @end #subContent */

/* @end #pageBody */

/* @group #pageFooter */

#pageFooter {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
	padding: 5px 20px;
}

#pageFooter p {
	margin: 0;
	font-size: 1.2em;
}

#copyright {
	float: left;
}

#pageFooter #lnkTerms {
	float: left;
	margin-left: 15px;
}

#credits {
	float: right;
}

/* @end #pageFooter */

/* @end STRUCTURE */
